.box{
    width: 100px;
    height: 100px;
    background-color: #e84610;
    transform: translate(100px, 100px);
    animation: spin 2s alternate infinite ease-in-out;
}

.box:hover{
    /*Properties only trigger during the Hover Phase*/
    width: 200px;
    height: 200px;

    /* if the transition properties are here, they only applied to the box in hover state*/
    transition-property: width, height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        transition-duration: 2s;
      
    }
    to {
        transform: rotate(360deg);
    }
  }